plugin/hooks/templates/*.md text eol=lf
plugin/agent-references/**/*.md text eol=lf
plugin/agents/*.md text eol=lf
plugin/skills/**/*.md text eol=lf
/*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
